<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="webMvcConfig" class="org.boy.config.WebMvcConfig"></bean>
    <bean id="helloAspect" class="org.boy.config.HelloAspect"></bean>
    <bean id="globalExceptionHandler" class="org.boy.config.GlobalExceptionHandler"></bean>
    <bean id="metaObjectConfig" class="org.boy.config.MetaObjectConfig"></bean>
<!--    <bean id="mybatisPlusConfig" class="org.boy.config.MybatisPlusConfig"></bean>-->
</beans>